body {
    /* background: url("../images/background-pattern.jpg") #CCC top left; */
    background-color: whitesmoke;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.125rem;
}


/* Nav Bar styles */
.navbar h1 {
    font-family: 'Sarala', sans-serif;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: #333;
}
.navbar-light .navbar-nav .nav-link {
    color: #FFF;
}

/* Main Content styles */
#main-content .container {
    margin: 3rem auto;
}

/* Footer styles */
footer p, footer a, footer a:hover {
    color: #FFF;
}

footer a {
    padding: 0 15px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


/* For Large devices (desktops, 992x) */
@media screen and (max-width: 992px) {
    .navbar-light .navbar-toggler {
        border-color: #FFF;
    }
    .navbar-light .navbar-toggler-icon {
        -webkit-filter: invert(1);
        filter: invert(1);
    }
}

/* For Medium devices (tablets, 768px) */
@media screen and (max-width: 768px) {
    .navbar .container {
        max-width: 100%;
    }
    #main-content .container {
        margin: 0 auto;
        max-width: 100%;
    }
}

/* For Small devices (phones, 576px) */
@media screen and (max-width: 576px) {
    .navbar .container {
        max-width: 100%;
    }
    #main-content .container {
        margin: 0 auto;
        max-width: 100%;
    }
}